# ======================
# BUILD
# ======================
/target/
/build/
*.jar
*.war

# ======================
# LOGS
# ======================
*.log
logs/

# ======================
# IDEs
# ======================
.idea/
*.iml
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# CONFIG SENSIBLE
# ======================
application.properties
application.yml

# ======================
# DATABASE
# ======================
*.db

# ======================
# MAVEN WRAPPER
# ======================
.mvn/wrapper/maven-wrapper.jar